<!-- views/index.ejs -->

<% include layout %>

<div class="container">

        <div class="col-sm-6 col-sm-offset-3">

           <img src="../../images/splash.png" height="550" class="center"/>
           
                <p align="center"><a href="/login" class="blocktext" >Click Here To Login / Register</a> </p>
            

        </div>

</div>
