body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* myStyleSheet */


div.myHeader {
    background-color: black;
    color: white;
    margin: 0 0 0 0;
    padding: 20px;
    text-align: center;
    margin-left: 0px;
}


img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#quotescointainer {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    align-content: center; /* contain floated elements */
}

#quotesleft {
    float: left;
    width: 33%;
}

#quotescenter {
    float: left;
    width: 33%;
}

#quotesright {
    float: left;
    width: 33%;
}

input.myText {
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    background-color: #C0C0C0;
    vertical-align: middle;
}

/*##################*/
.navbar-header {
    float: none;
}

.navbar-toggle {
    display: block;
}

.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

    .navbar-collapse.collapse {
        display: none !important;
    }

.navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
}

    .navbar-nav > li {
        float: none;
    }

        .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
        }



div.myCenter {
    align-content: center;
    color: white;
}

/*######### map direction #########*/

#origin-input,
#destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

    #origin-input:focus,
    #destination-input:focus {
        border-color: #4d90fe;
    }

#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

    #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }
